!!!
%html{:lang => "pt"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      Bem-vindo ao Eventify, #{@email}
    %p
      Você está recebendo este email pois foi cadastrado em nosso site.
