<!DOCTYPE html>
<html lang="pt">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
  <h3>Bem-vindo ao Eventify, <%= @email %></h3>

  <p>
    Você está recebendo este email pois foi cadastrado em nosso site.
  </p>
</body>

</html>