<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <h3>Bem-vindo ao <%= @site %>, <%= @name %></h3>

  <p>
    Você está recebendo este email pois foi cadastrado no nosso site.
  </p>
</body>

</html>