<tr class='border-top'>

    <td>
        <%= index + 1 %>
    </td>

    <td><%= l reminder.reminder_at, format: :short2 %></td>

    <td class="text-right" style="padding-right: 0px;">
       
    </td>
</tr>
