.row.mb-2
  .col-8
    %h1.display-4 Eventos
  .btn-new-event
    = link_to "+ Evento", new_event_path, class: 'btn btn-success hover-button'
- if @events.any?
  %table.table.table-borderless
    %thead
      %tr
        %th Título
        %th Data de início
        %th Data de fim
    %tbody
      - @events.each do |event|
        = render 'table_row', event: event
- else
  %p Nenhum evento cadastrado!
