.row.mb-2
  .col-8
    %h1.display-4 Eventos
  .btn-new-event
    = link_to "+ Evento", new_event_path, class: 'btn btn-success hover-button'
- if @events.any?
  %table.table.table-borderless
    %thead
      %tr
        %th Título
        %th Data de início
        %th Data de fim
    %tbody
      - @events.each do |event|
        = render 'table_row', event: event
- else
  %p Nenhum evento cadastrado!

%button.btn.btn-default#webpush-button{type: "button", onclick: "checkNotifs()"}
  Send WebPush




:javascript
  
  var vapidPublicKey = new Uint8Array(#{Base64.urlsafe_decode64(ENV['VAPID_PUBLIC_KEY']).bytes});

  function checkNotifs(){
    console.log("vapidPublicKey")
    if (!("Notification" in window)) {
          console.error("This browser does not support desktop notification");
        }else if (Notification.permission === "granted") {
          console.log("Permission to receive notifications has been granted");
          getKeys();
        }else if (Notification.permission !== 'denied') {
          Notification.requestPermission(function (permission) {                    
            if (permission === "granted") {
              console.log("Permission to receive notifications has been granted");
              getKeys();                                                       
            } 
          });
      }
  }

  function getKeys(){
    navigator.serviceWorker.register('service-worker.js')
      .then(function(registration) {
        return registration.pushManager.getSubscription()
          .then(function(subscription) {
            if (subscription) {
              return subscription;
            }
            return registration.pushManager.subscribe({
              userVisibleOnly: true,
              applicationServerKey: vapidPublicKey
            });
          });
      }).then(function(subscription) {
        sendKeys(subscription.toJSON())
      });
  }

  function sendKeys(subscription){
    $.post("/notifications", { subscription: subscription});
  }

