@import "bootstrap";
@import "toastify-js/src/toastify.css";

:root {
    --color-gray-darker: #262626;
    --color-gray-dark: #999;
    --color-gray: #aaa;
    --color-gray-light: #ccc;
    --color-gray-lighter: #dbdbdb;
    --color-white-bis: #fafafa;
    --color-blue: #3897f0;
}

html,
body {
    height: 100%;
}

/* CSS FORM */

.button-table {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
}

.form-text {
    width: 50%;
}

.form-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-event-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hover-button {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.hover-button:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
}

h1 .form-event {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CSS REMINDERS */

.reminders {
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid var(--color-gray-lighter);
  border-radius: 5px;
}

.teste {
  display: flex;
  justify-content: space-evenly;
}

form.new-reminder {
  margin-top: 2rem;
}

.show-reminder {
  display: flex;
  justify-content: space-around;
}

.new-reminder {
  display: flex;
  flex-direction: column;
  border-radius: 20;
  height: auto;
  border-width: 2px;
}

.datetime-reminder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-new-reminder {
  display: flex;
  height: 25px;
  width: 25px;
  padding-left: 80%;
  margin-bottom: 5px;
}
