.dropdown
  %button#dropdownMenuButton1.btn.btn-sm.btn-outline-secondary.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
    = current_user.email
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton1"}
    %li
      = link_to "Editar Conta", edit_user_registration_path, class: 'dropdown-item'
    %li
      %hr.dropdown-divider/
    %li
      = link_to "Sair", destroy_user_session_path, method: :delete, class: 'dropdown-item', data: { confirm: 'Tem certeza?' }
